.send-it {
  font-family: "Bungee";
  background-color: rgb(6, 6, 134);
  color: white;
}
.counter {
  font-family: "Bungee";
  display: flex;

}

.placeholder {
  font-style: oblique;
}

#tweet-text {
  width: 100%;
  border-bottom: 5px solid black;
}

.below-input {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
}

.belowZero {
  color: red;
}
article {
  margin-top: 10px;
  border: 3px solid black; 
 
}

#tweet-container:hover {
  box-shadow: 10px 10px grey;
  animation: normal;
}

#tweet-container .body {
  margin-left: 10px;
  margin-right: 10px;
}
.tweet-header  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
}


.left-header {
  display: flex;
  flex-wrap: wrap;
  opacity: .6;
}

.right-header {
  opacity: .4;
}

.footer-btm {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: 10px;
  border-top: 3px solid black;
  margin-left: 10px;
  margin-right: 10px;
  padding-bottom: 5px;
  font-size: small;
}

p {
  margin-left: 20px;
}